.el-table th.gutter{
  display: table-cell!important;
}
.el-button--primary{
  background:@mainBgColor;
  border:1px solid @mainBgColor;
  &:hover{
    background: @mainHoverColor;
  }
  &:focus{
    background:@mainBgColor;
  }
}
.el-button--default{
  &:hover{
    background: #ecf5ff;
    border-color: #c6e2ff;
    color:#409eff;
  }
  &:focus{
    background:@white;
    color:#606266;
    border:1px solid #dedfe6;
  }
}
.el-button--primary,.el-button--default{
  width:98px;
  height:34px;
  line-height: 8px !important;
}
.el-table th{
  background: #F4F6FC;
}
.el-table{
  text-align: left;
}
// 滚动条
.scrollbar-wrapper {
  overflow-x: hidden !important;
}

.el-scrollbar__bar.is-vertical {
  right: 0px;
}

.el-scrollbar {
  height: 100%;
}

//
.el-tree-node__content:hover{
  color:@white;
  background: @mainHoverColor;
}
.el-tree-node:focus>.el-tree-node__content{
  color:@white;
  background: @mainBgColor;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background: @mainBgColor;
  color:@white;
}
.el-tree .el-tree-node__label{
  font-size: 16px;
}
.el-tree .el-tree-node__children .el-tree-node__label{
  font-size: 14px;
}
.el-tree-node__content{
  padding:10px 0;
}
